export(
fnfam, fx, normplot, nsibs, ntdt, ntdt.q, plotDom, 
plotNsibs, plotNtdt, ptb, ptdt
)

import(
 tcltk
)

importFrom("graphics", "legend", "lines", "points")
importFrom("stats", "dnorm", "optimize", "pnorm", "qnorm", "rexp",
             "rnorm", "uniroot")

